### ThingWorx Data ###
.ThingworxStorage

### Repos ###
.repos

### Final Dist ###
zip/

### Basic Build Output ###
.gradle
build/
bin/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### Common Libraries ###
lib/common/*.jar

### VS Code ###
.vscode/
.fake